@media screen and (max-width:768px){
    .wrapper1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 92.16783216783217vh;
    }
    .s1{
        background-color: blue;
    }
    .topw1 img{
        width: 120px;
        height: 120px;
        border-radius: 100px;
        border: 1px solid black;
    }
    .name{
        margin-left: 21px;
    }
    nav{
        height: 7.8321678321678325vh;
        background-color: pink;
        
    }
    .menu-button1{
        margin-right: 21px;
    }
    
    .topw1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .topw1 h6{
        margin-top: 9px;
        line-height: 24px;
        font-size: 16px;
    }
    .topw1 h1{
        line-height: 40px;
        font-size: 30px;
    }
    .topw1 h4{
        line-height: 30px;
        font-size: 20px;
    }
    .buttons-w1{
        gap: 20px;
        margin-top: 22px;
        
    }
    .download-cv{
        width: 111px;
        height: 46px;
        stroke: 1.5px;
        font-size: 13px;
    }
    .contact-info{
        width: 111px;
        height: 46px;
        font-size: 13px;
    }
    .logosw1{
        margin-top: 20px;
    }
    .s1{
        height: 100vh;
    }
}